{% extends 'index.html' %}
{% load static %}
{% block contant %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Order</title>
	
<br>

<br>
	<br>

<div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
            {% if carts %}
                {% for i in carts %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{i.product.product_img.url}}" alt=""  style="width:250px; height:250px ;">
                        </div>
                        <h2><a href="">{{i.product.product_name}}</a></h2>
                        <div class="product-carousel-price">
                            <ins>Rs {{i.product.product_price}}</ins> 
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{% url 'product_details' pk=i.product.pk%}">Details</a>
                        </div>                       
                    </div>
                </div>  
                {% endfor %}
                    </div>
                {% else %}
                    <h1 align="center">You Haven't Purchased Anything</h1>
                {% endif %}
                
                </div>
            </div></div>
	
		
			
					<div class="flex-c-m flex-w w-full p-t-45">
			
				
			</div>
		</div>
	</div>
	
</body>
</html>

{% endblock %}