{% extends 'index.html' %}
{% load static %}
{% block contant %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product</title>
	
<br>

<br>
	<br>
	
<div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for i in products %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{i.product_img.url}}" alt=""  style="width:250px; height:250px ;">
                        </div>
                        <h2><a href="">{{i.product_name}}</a></h2>
                        <div class="product-carousel-price">
                            <ins>Rs {{i.product_price}}</ins> 
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{% url 'product_details' pk=i.pk%}">Details</a>
                        </div>                       
                    </div>
                </div>  
                {% endfor %}
                    </div>
                
                </div>
            </div></div>
	
		
			
					<div class="flex-c-m flex-w w-full p-t-45">
			
				
			</div>
		</div>
	</div>
		

			
				
					
							
				

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
			
				
			</div>
		</div>
	</div>
		

	
</body>
</html>

{% endblock %}